YTDLP_PATH=<PATH WHERE YT-DLP IS LOCATED BUT  CONTAINER ALREADY CREATES ALIAS OF 'yt-dlp.exe' that points to actual executable so leaving it empty is recomended>
HTTPS_CERT_PASSWORD=<YOUR HTTPS SERTIFICATE PASSWORD IF NOT HAVE ANY CRATE IT https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-dev-certs and put that in this directory and herer enter its password>
PUBLIC_BASE_URL=<YOUR PUBLIC BASE URLS WERE THE APP WILL BE HOSTED ON AND THE FILES FOR DOWNLOAD whatever link tailscale oututps while funneling the video dir>
WEBHOOKK_VERIFY_TOKEN=<used for webhook verification, and set this to what verify token was while configuring the webhook on facebook developers website>
INSTAGRAM_USER_TOKENS=<INSTAGRAM USER TOKENS COMMA SEPARATED, IF YOU HAVE MULTIPLE INSTAGRAM ACCOUNTS>
VIDEO_DOWNLOAD_PATH=<in container path where videos are downloaded is here ./video so keep that if you didnt chage in the dockerfile>
ADMIN_INSTAGRAM_USER_ID=<enter 1234 or something for initial run then send a message from your admin account and check the logs to see your id then end that container and update this feald>